<%-include('sections/header.home.ejs') %>
    <section class="container " <%= authstylecontainer %> >
        <h1><%= name %></h1>
        <img src="img/<%= auth %>.png" alt="<%= auth %>" />
        <i>Now, you'r <%= content %></i>
    </section>
<%- include('sections/footer.home.ejs') %>